.opportunity-container {
    display: flex;
    flex-direction: column;
  }
  
  .opportunity-container > * {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  table {
    width: 100%;
  }